body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    margin: 30px 0;
}

.inputs-div{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.inputs-div input{
    width: 140px;
    border: 1px solid #E5C9C5;
    padding: 10px;

}

.input-btn{
   padding: 10px;
   width: 140px;
   border: none;
   background-color: #E5C9C5;
   color: white;
}

.player{
    background: #E5C9C5;
    margin: 10px auto;
    width: 60%;
    padding: 15px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr;
    align-items: center;
    color: rgb(28, 28, 28);
}


.name {
  font-weight: bold;
  font-size: 24px;
}


.actions button {
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.feedback{
    color: red;
    font-weight: bold;
}