body{
    font-family: Montserrat, Arial, Helvetica, sans-serif ;
}

h1{
    margin: auto;
    width: 82%;
    padding: 50px;
}

.header{
    background-color: pink;
    width: 80%;
    height: 50px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.icons{
    padding-left: 30px;
    animation: fadeIn 2000ms infinite;
}

.bio{
    padding: 40px;
    margin: auto;
    width: 80%;
}

.header-content{
    animation: leftToRight 2000ms infinite;
    transform: translateX(100px);
}

.techs{
    animation: fadeIn 2000ms infinite;
    font-size: 32px;
    font-weight: bolder;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: auto;
}

.cards div{
    border: 1px solid rgba(128, 128, 128, 0.326);
    padding: 50px;
}

.cards div:hover{
    background-color: pink;
    animation: fadeIn 3000ms;
    border: none;
}

.technologies{
    padding: 100px;
    width: 80%;
    margin: auto;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes leftToRight {
    from{
        opacity: 0;
        transform: translateX(0);
    }
    to{
        opacity: 1;
        transform: translateX(100px);
    }
}