.countries-list{
    list-style-type: none;
}



.bar{
    content: '';
    width: 100%;
    height: 20px;
    background-color: orange;
    margin: 10px 0;
}

.countries-list li{
    position: relative;
    margin: 10px 0;
}

.countries-population{
    list-style-type: none;
}

.population-number li{
    list-style-type: none;
    margin: 12px 0;
}

.graph-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

