body{
    font-family: Montserrat;
}


.countries-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: auto;
    width: 75%;
}

header{
    background-position: center;
    background-size: cover;
    align-content: center;
    justify-items: center;
    color: black;
    margin-bottom: 20px;
    z-index: 0;
    position: relative;
}



.btns button{
    background-color: orange;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
}

input{
    border-radius: 50px;
    padding: 5px 20px;
    border: rgba(128, 128, 128, 0.189) 1px solid;
    width: 350px;
    height: 20px;
}

.card {
  width: 260px;
  background: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.flag {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.country {
  color: #f5a623;
  letter-spacing: 2px;
  margin: 10px 0;
}

.card p {
  margin: 6px 0;
  color: #666;
  font-size: 14px;
}

.actions{
    justify-items: center;
    margin: 40px;
}